body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5E0B15;
    color: #D9CAB3;
}

.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #4A5043;
    border: 1px solid #D9CAB3;
    padding: 20px;
    width: 220px;
}

.calc-screen{
    width: 100%;
    height: 40px;
    background-color: #2E2E2E;
    color: #D9CAB3;
    border: 1px solid #000;
    text-align: right;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button{
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    color: #D9CAB3;
}

.calc-number{
    background-color: #4A5043;
}

.calc-operator{
    background-color: #BC8034;
}

.calc-util{
    background-color: #8C7A6B;
}

.calc-equal{
    background-color: #BC8034;
}